# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [67]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression 
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, accuracy_score, balanced_accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report

## Regression Model Evaluation

In [2]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = pd.read_csv('housing.csv', header=None, delimiter=r"\s+", names=column_names)

In [3]:
"""
CRIM - per capita crime rate by town
ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS - proportion of non-retail business acres per town.
CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
NOX - nitric oxides concentration (parts per 10 million)
RM - average number of rooms per dwelling
AGE - proportion of owner-occupied units built prior to 1940
DIS - weighted distances to five Boston employment centres
RAD - index of accessibility to radial highways
TAX - full-value property-tax rate per $10,000
PTRATIO - pupil-teacher ratio by town
B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT - % lower status of the population
MEDV - Median value of owner-occupied homes in $1000's"""

"\nCRIM - per capita crime rate by town\nZN - proportion of residential land zoned for lots over 25,000 sq.ft.\nINDUS - proportion of non-retail business acres per town.\nCHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)\nNOX - nitric oxides concentration (parts per 10 million)\nRM - average number of rooms per dwelling\nAGE - proportion of owner-occupied units built prior to 1940\nDIS - weighted distances to five Boston employment centres\nRAD - index of accessibility to radial highways\nTAX - full-value property-tax rate per $10,000\nPTRATIO - pupil-teacher ratio by town\nB - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\nLSTAT - % lower status of the population\nMEDV - Median value of owner-occupied homes in $1000's"

In [3]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [4]:
df = data.copy()

In [6]:
# Your code here :
X = df.drop("MEDV", axis=1)
y = df['MEDV']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [11]:
# Your code here :
model = LinearRegression()
model.fit(X_train,y_train)
predictions = model.predict(X_test)
predictions_train = model.predict(X_train)

## 3. Calculate and print R-squared for both the training and the testing set.

In [12]:
# Your code here :
r2_te = r2_score(y_test, predictions)
r2_tr = r2_score(y_train, predictions_train)

print("R2 test data = ", round(r2_te, 4))
print("R2 train data = ", round(r2_tr, 4))

R2 test data =  0.6688
R2 train data =  0.7509

## 4. Calculate and print mean squared error for both the training and the testing set.

In [15]:
# Your code here :
MSE_te = mean_squared_error(y_test, predictions)
MSE_tr = mean_squared_error(y_train, predictions_train)

print("MSE test data = ", round(MSE_te, 4))
print("MSE train data = ", round(MSE_tr, 4))

MSE test data =  24.2911
MSE train data =  21.6414

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [18]:
# Your code here :
MAE_te = mean_absolute_error(y_test, predictions)
MAE_tr = mean_absolute_error(y_train, predictions_train)

print("MAE test data = ", round(MAE_te, 4))
print("MAE train data = ", round(MAE_tr, 4))

MAE test data =  3.1891
MAE train data =  3.3148

## Classification Model Evaluation

In [34]:
from sklearn.datasets import load_iris
data = load_iris()

In [35]:
print(data.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

In [36]:
column_names = data.feature_names

In [37]:
column_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [38]:
df = pd.DataFrame(data['data'],columns=column_names)

In [39]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [40]:
target = pd.DataFrame(data.target)

In [41]:
target

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [42]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [43]:
data['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [44]:
target.rename(columns={0:'target'},inplace=True)
target['target'] = target['target'].apply(lambda x: data['target_names'][x])
target

        target
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [45]:
df = pd.concat([df,target],axis=1)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [46]:
# Your code here :
X = df.drop("target", axis=1)
y = df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [55]:
# Your code here :
model = LogisticRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
predictions_train = model.predict(X_train)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [56]:
# Your code here :

accuracy_test = accuracy_score(y_test, predictions)
accuracy_train = accuracy_score(y_train, predictions_train)

print("Accuracy test data = ", round(accuracy_test, 4))
print("Accuracy train data = ", round(accuracy_train, 4))

Accuracy test data =  1.0
Accuracy train data =  0.975

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [58]:
balanced_accuracy_test = balanced_accuracy_score(y_test, predictions)
balanced_accuracy_train = balanced_accuracy_score(y_train, predictions_train)

print("Balanced Accuracy test data = ", round(balanced_accuracy_test, 4))
print("Balanced Accuracy train data = ", round(balanced_accuracy_train, 4))

Balanced Accuracy test data =  1.0
Balanced Accuracy train data =  0.9756

## 10. Calculate and print the precision score for both the training and the testing set.

In [60]:
precision_test = precision_score(y_test, predictions, average='weighted')
precision_train = precision_score(y_train, predictions_train, average='weighted')

print("Precision test data = ", round(precision_test, 4))
print("Precision train data = ", round(precision_train, 4))

Precision test data =  1.0
Precision train data =  0.9768

## 11. Calculate and print the recall score for both the training and the testing set.

In [62]:
recall_test = recall_score(y_test, predictions, average='weighted')
recall_train = recall_score(y_train, predictions_train, average='weighted')

print("Recall test data = ", round(recall_test, 4))
print("Recall train data = ", round(recall_train, 4))

Recall test data =  1.0
Recall train data =  0.975

## 12. Calculate and print the F1 score for both the training and the testing set.

In [64]:
f1_test = f1_score(y_test, predictions, average='weighted')
f1_train = f1_score(y_train, predictions_train, average='weighted')

print("F1 Score test data = ", round(f1_test, 4))
print("F1 Score train data = ", round(f1_train, 4))

F1 Score test data =  1.0
F1 Score train data =  0.975

## 13. Generate confusion matrices for both the training and the testing set.

In [65]:
# Your code here :

# Generate confusion matrices
conf_matrix_test = confusion_matrix(y_test, predictions)
conf_matrix_train = confusion_matrix(y_train, predictions_train)

print("Confusion Matrix for Test Data:\n", conf_matrix_test)
print("\nConfusion Matrix for Train Data:\n", conf_matrix_train)

Confusion Matrix for Test Data:
 [[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]

Confusion Matrix for Train Data:
 [[40  0  0]
 [ 0 38  3]
 [ 0  0 39]]

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [68]:
# Have fun here!

# Train and evaluate Decision Tree Classifier
dt_model = DecisionTreeClassifier(random_state=42)
dt_model.fit(X_train, y_train)
dt_predictions = dt_model.predict(X_test)
print("Decision Tree Classifier Report:")
print(classification_report(y_test, dt_predictions))

# Train and evaluate Random Forest Classifier
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train, y_train)
rf_predictions = rf_model.predict(X_test)
print("\nRandom Forest Classifier Report:")
print(classification_report(y_test, rf_predictions))

# Train and evaluate Support Vector Classifier
svc_model = SVC()
svc_model.fit(X_train, y_train)
svc_predictions = svc_model.predict(X_test)
print("\nSupport Vector Classifier Report:")
print(classification_report(y_test, svc_predictions))

Decision Tree Classifier Report:
              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        10
  versicolor       1.00      1.00      1.00         9
   virginica       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30


Random Forest Classifier Report:
              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        10
  versicolor       1.00      1.00      1.00         9
   virginica       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30


Support Vector Classifier Report:
              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        10
  versicolor       1.00      1.00      1.00         9
   virginica       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30